/*
	/apps/snb/components/content/gnblist_update/clientlibs/css/style.css
 */
/**START of gnblist_update.css**/
.gnblist_update ul {
  font-size: 1em;
  list-style: none outside none;
  margin: 0;
  padding: 0;
  padding-bottom: 6px;
  margin-bottom: 6px;
}

.gnblist_update {
  margin-bottom: 20px;
}

.gnblist_update li {
  margin-bottom: 5px;
  padding-left: 10px;
}

/**
.gnblist_update>div { 
        padding:10px;  
}
**/

.gnblist_update > div.bottomborder {
  border-bottom: 1px solid #d3d3d3;
  padding: 10px;
}
.gnblist_update .greyarrow ul {
  font-size: 1em;
}
.gnblist_update div.padded {
  padding: 10px 20px 10px 20px;
}
.gnblist_update div.bluearrow li {
  margin-bottom: 5px;
  padding-left: 10px;
  background: transparent
    url(/etc/designs/gnb-bootstrap/clientlibs/images/arrow_blue.gif) no-repeat
    scroll 0 3px;
}
.gnblist_update div.bluearrow li:hover {
  background-image: url(/etc/designs/gnb-bootstrap/clientlibs/images/arrow.gif);
}

.gnblist_update div.greyarrow li:hover {
  background-image: url(/etc/designs/gnb-bootstrap/clientlibs/images/arrow_blue.gif);
}

.gnblist_update div.greyarrow li {
  background: transparent
    url("/etc/designs/gnb-bootstrap/clientlibs/images/arrow.gif") no-repeat
    scroll 0 3px;
  padding-left: 10px;
}
.gnblist_update div.greyarrow li a {
  color: #555555;
}
.gnblist_update div.greyarrow li a:hover,
.gnblist_update div.morelink a:hover {
  color: #000000;
}

.gnblist_update div.unstyled li a:link,
.gnblist_update div.unstyled li a:visited,
.gnblist_update div.disc li a:visited {
  color: #555;
  text-decoration: none;
  padding: 0px 0 5px 0px;
}
.gnblist_update div.unstyled li a:hover {
  color: #000;
  text-decoration: none;
}
.gnblist_update div.morelink {
  font-size: 90%;
}

.gnblist_update > div.bottomborder div.morelink {
  border-top: 1px solid #d3d3d3;
  padding-top: 10px;
}

/*2020-9-10*/
.highlight .gnblist_update ul {
  padding-top: 2px;
  margin-top: 2px;
}

.highlight .gnblist_update > div {
  padding-top: 0px;
}

.gnblist_update div.unstyled li,
.gnblist_update div.unstyled,
.gnblist_update div.disc li,
.gnblist_update div.disc {
  padding-left: 5px;
  padding-right: 0px;
}

.gnblist_update div.bluearrow li,
.gnblist_update div.bluearrow,
.gnblist_update div.greyarrow li,
.gnblist_update div.greyarrow {
  padding-right: 0px;
}

.gnblist_update div.disc ul li::before {
  content: "\2022";
  font-weight: bold;
  display: inline-block;
  width: 0.8em;
  margin-left: -0.5em;
}

.gnblist_update div.morelink a {
  color: #337ab7;
}

.gnblist_update div.morelink a {
  background: url("/etc/designs/gnb-bootstrap/clientlibs/images/arrow_blue.gif")
    no-repeat scroll right 3px transparent;
  padding-right: 10px;
}
/*2020-9-10*/
/**END of gnblist_update.css**/
