/*
/apps/oic-bci/components/content/oicpromo_update/clientlibs/css/style.css
*/
/**START of style.css**/
.carousel-control {
    width: 5%;
}

.carousel-control .icon-prev, .carousel-control .icon-next, .carousel-control .glyphicon-chevron-left, .carousel-control .glyphicon-chevron-right {
    top: 86%;
 }

.carousel-control.left {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%);
}

.carousel-control.right {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%);
}


.carousel-indicators {
    left: 5%;
	width: 35%;
    padding-left: 0;
    bottom: 18px;
    text-align: left;
    margin-left: 0%;

}



.carousel-indicators .active {
    background-color: gray;
}

.carousel-indicators li {
    border: 1px solid gray;
    border-radius: 00px;
}
.carousel-caption h3{
	/*font-size: 140%;*/
	font-weight: bold;
	margin: 0 0 5px 0px;
}

.carousel-caption p{
	font-size: 98%;

}

.carousel-caption {
    text-align: left;
    top: 0%;
	left: 4%;
    right: 66%;
	color:black;
	text-shadow: 0 0px 0px rgba(0, 0, 0, 0);
}

#vnbwCarousel {
    margin: 0 0 20px;
 }

.enbpromo_update .img-responsive, 
.enbpromo_update .thumbnail > img, 
.enbpromo_update .thumbnail a > img, 
.enbpromo_update .carousel-inner > .item > img, 
.enbpromo_update .carousel-inner > .item > a > img {
	width:595px;
}
/**END of style.css**/   
