/**START of tertiarynav.css**/
#tertiaryNav{
    margin:20px 0 0 -10px;
    padding:0;
    list-style:none;
}
 #tertiaryNav ul{
    list-style:none;
    margin:0;
    padding:0;
}

#tertiaryNav li{
    margin:0;
    background-color:#fff;
    border-top:1px solid #d3d3d3;
    text-align:left;
}



#tertiaryNav li.last{
    margin:0;
    background-color:#fff;
    border-top:1px solid #d3d3d3;
    border-bottom:1px solid #d3d3d3;
    text-align:left;
}

#tertiaryNav li a:link, 
#tertiaryNav li a:visited {
  background: url("/etc/designs/agnb-vgnb/clientlib/images/arrow_blue.gif") no-repeat scroll 0 12px transparent;
  color:#2077b0;
  display:block;
  font-size:112.5%;
  height:1%;
  margin-left:10px;
  padding:10px;
}

#tertiaryNav li a:hover{
    color:#000;
    text-decoration:none;
}
#tertiaryNav li.current a, #tertiaryNav li.current a:link, #tertiaryNav li.current a:visited {background: url("/etc/designs/agnb-vgnb/clientlib/images/arrow_blue_down.gif") no-repeat scroll 7px 15px #f6f6f6; margin-left:0px; padding-left:20px; color:#000;}

#tertiaryNav li ul {
    padding:0px;
    margin:0;
}

#tertiaryNav li ul li{
    padding:0;
    margin:0;
    background-color:#f6f6f6;
    border:none;
}

#tertiaryNav li ul li a:link, #tertiaryNav li ul li a:visited {
  background-image:none;
  color:#555555;
  display:block;
  font-size:125%;
  height:1%;
  margin-left:0;
  padding:5px 5px 5px 20px;
}

#tertiaryNav li ul li a:hover{
    color:#000;
    background-color:#dfdfdf;
    text-decoration:none;
}

#tertiaryNav li ul li.active a:link, #tertiaryNav li ul li.active a:visited {background:transparent url(/etc/designs/agnb-vgnb/clientlib/images/main_nav_span.gif) repeat-x 0px 50%; color:#fff;}

/**END of tertiarynav.css**/