/*
	START of /apps/gnb-fluid/components/content/carousel/clientlibs/css/responsive-480px.css
*/
@media (max-width: 480px) {
  .container-fluid .carousel-caption {
    padding: 10px 20px;
  }

  div.carousel-caption h1 {
    font-size: 1.5rem;
    line-height: 2rem;
  }
}
/*
	END of /apps/gnb-fluid/components/content/carousel/clientlibs/css/responsive-480px.css
*/
