/**START of form.css**/
/*
div.section {
    margin-bottom: 8px;
//     Property added to avoid IE hasLayout issue on paragraphs
//     see #20817 - IE6: div around Drag Components image not big enough
    zoom: 1;
}

*/
/*-FORMS-*/
.input input,
.ta {
  height: 18px;
  padding: 2px 0 0 0;
  margin: 0 0 0 0;
  border: none;
  background: #8ebfd3;
  color: #373737;
}
.ta {
  height: 111px;
  overflow: auto;
  padding: 5px 0 0 0;
  margin: 0 0 20px 0;
}
.eq_height {
  height: 31px;
}

div.element {
  margin-bottom: 2px;
}

.form_1 {
  border-top: 1px solid #d9d9d9;
  background: #f0f0f0;
  padding: 17px 34px 16px 24px;
}
.form_1 .link_1 {
  background: url(/etc/designs/agnb-vgnb/clientlib/images/bullet1.gif) 0 0 no-repeat;
  padding: 0 0 0 10px;
  color: #14729e;
  font: normal 10px Tahoma, Geneva, Arial, Helvetica, sans-serif; /*Keehwan changed*/
}
.form_1 input {
  border: 1px solid #a1a1a1;
  width: 156px;
  height: 17px;
  margin: 0 0 13px 0;
}
.form_row {
  clear: both;
  width: 100%;
}

.form_row .form_mv_add {
  cursor: pointer;
  margin-left: 235px;
  padding-left: 119px;
}

.form_row .form_mv_remove {
  cursor: pointer;
}

.form_leftcol {
  padding-left: 0px; /*Keehwan changed from 9 to0px*/
  float: left;
  width: 160px; /*Keehwan changed*/
  font-size: 90%; /*Keehwan added*/
  font: normal 12px Arial, Helvetica, sans-serif; /*Keehwan changed*/
}

.form_leftcollabel {
  text-align: right; /*Keehwan added*/
  float: left;
  width: 150px; /* Keehwan changed*/
  font: bold 13px Arial, Helvetica, sans-serif; /*Keehwan changed*/
}

.form_leftcolmark {
  float: left; /*Keehwan changed from right to left*/
  width: 10px; /*Keehwan changed*/
  color: red; /*Keehwan added*/
  font: normal 12px Arial, Helvetica, sans-serif; /*Keehwan changed*/
}

.form_error {
  /*Keehwan added*/
  color: red; /*Keehwan added*/
}
.form_rightcol {
  padding-left: 160px;
  font-size: 90%; /*Keehwan added*/
  font: normal 12px Arial, Helvetica, sans-serif; /*Keehwan changed*/
}

.form_rightcol_left {
  float: left;
  width: 105px;
  font-size: 90%; /*Keehwan added*/
  font: normal 12px Arial, Helvetica, sans-serif; /*Keehwan changed*/
}

.form_rightcol_middle {
  float: left;
  width: 23px;
  font-size: 90%; /*Keehwan added*/
  font: normal 12px Arial, Helvetica, sans-serif; /*Keehwan changed*/
}

.form_rightcol_right {
  float: left;
  width: 105px;
  font-size: 90%; /*Keehwan added*/
  font: normal 12px Arial, Helvetica, sans-serif; /*Keehwan changed*/
}

div.form_captchatimer {
  float: left;
  border: 1px solid #cccccc;
}

div.form_captchatimer_bar {
  float: left;
  background-color: #cccccc;
  height: 8px;
}

div.form_captcha_input {
  float: left;
  vertical-align: baseline;
  padding-top: 4px;
}

div.form_captcha_img {
  float: left;
  vertical-align: baseline;
  padding-left: 4px;
  padding-right: 4px;
}

div.form_captcha_refresh {
  float: left;
  padding-top: 4px;
}

div.section.hidden {
  padding: 0 !important;
  margin: 0 !important;
  display: block !important; /*Keehwan added 2012/1/18*/
}
/**END of form.css**/
