/**START of departmentinfo.css**/

.departmentinfo .pageHeader {
  margin: 0 300px 0 0 !important;
  padding: 0;
}

.departmentinfo #search_column {
  width: 740px;
  float: left;
}
.departmentinfo table,
.departmentinfo .search_result_box_footer {
  margin: 0;
  width: 100%;
}

.departmentinfo #contacts,
.departmentinfo #structure,
.departmentinfo #mandates,
.departmentinfo #mandat,
.departmentinfo #offices,
.departmentinfo #bureaux,
.departmentinfo #services {
  padding: 0px !important;
  float: left;
  width: 100%;
}

.departmentinfo .item_services h3.contact_title {
  font-size: 100%;
  padding: 0;
  margin: 0 !important;
  font-weight: normal;
}
.departmentinfo #listView ul {
  font-size: 100% !important;
}
.departmentinfo #listView div {
  display: inline;
}
.departmentinfo #listView h1 {
  color: #004d42;
  font-size: 90%;
  font-weight: bold;
}
.departmentinfo #listView h2 {
  font-size: 90%;
  font-weight: bold;
  display: inline;
}
.departmentinfo #listView h3 {
  font-size: 90%;
  font-weight: bold;
  display: inline;
}
.departmentinfo #listView h4 {
  font-size: 90%;
  font-weight: normal;
  display: inline;
}
.departmentinfo #listView h5 {
  font-size: 90%;
  font-weight: normal;
  display: inline;
}
.departmentinfo #listView h6 {
  font-size: 90%;
  font-weight: normal;
  display: inline;
}

.departmentinfo .listExpander,
.departmentinfo #viewToggle {
  font-size: 80%;
  cursor: pointer;
}
.departmentinfo #chartView {
  display: none;
}
.departmentinfo #chartView .title {
  font-size: larger;
}

.departmentinfo #contactView {
  display: none;
}

/**END of departmentinfo.css**/
