.dlr-button-group {
  display: flex;
  flex-flow: column;
  padding-top: 48px;
}
.dlr-primary-button-container {
  display: inline-block;
  padding-right: 0 !important;
}
.dlr-primary-button-container button {
  width: 100%;
}
@media screen and (min-width: 992px) {
  .dlr-button-group {
    flex-flow: row;
  }
  .dlr-primary-button-container {
    padding-right: 16px !important;
  }
}
.disabled-form .gnb-btn-tertiary:hover {
  text-decoration: underline;
}
