.dlr-progress-nav-list-item a,
.dlr-progress-nav-list-item.current a {
  text-decoration: none;
  color: var(--gnb-black);
}
.dlr-progress-nav-list-item.complete a {
  text-decoration: underline;
  color: #004a98;
}
.dlr-page-container {
  background-color: var(--gnb-grey);
}
.dlr-page-wrapper {
  border-radius: 6px;
  margin: 4px;
  padding: 16px;
}
.dlr-subpage-container {
  background-color: var(--gnb-white);
}
@media screen and (min-width: 992px) {
  .dlr-page-wrapper {
    background-color: var(--gnb-grey);
    border-radius: 0;
    padding: 0;
    margin: 0;
  }
  .dlr-subpage-container {
    border-radius: 6px;
  }
}
@media screen and (max-width: 992px) {
  .dlr-subpage-container {
    margin-left: 0 -16px;
    padding: 0 32px;
  }
}
.disabled-form {
  cursor: not-allowed;
  opacity: 0.75;
}
.disabled-form input,
.disabled-form label {
  cursor: not-allowed;
  pointer-events: none;
}
.gnb-footer {
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 1rem 0 !important;
  z-index: 1;
}
