.tel-input {
  width: 182px;
}
input[type='tel']:disabled {
  background-color: #eee;
  border-color: #777;
}
.info-icon-tooltip {
  color: #004a98;
}
.gnb-tooltip-link:hover {
  color: #000;
  text-decoration: none;
  outline: 0.25rem solid rgba(0, 74, 152, 0.12);
  background: #004a981f;
}
.gnb-form-input-text,
.gnb-form-input {
  z-index: unset !important;
}
@media (min-width: 768px) {
  .tel-input {
    width: 205px;
  }
}
