# Configuration created by Apache Sling JCR Installer
scripts=["create\ path\ (sling:OrderedFolder)\ /content/dam/cnb_hfx","create\ path\ (nt:unstructured)\ /content/dam/cnb_hfx/jcr:content","set\ properties\ on\ /content/dam/cnb_hfx/jcr:content\r\n\ \ set\ cq:conf{String}\ to\ /conf/cnb_hfx\r\n\ \ set\ jcr:title{String}\ to\ \"T4G\ CNB\ Project\"\r\nend","create\ service\ user\ writeService\ with\ path\ /home/users/system/gnb","set\ ACL\ for\ writeService\r\n\ \ allow\ jcr:read,rep:write\ on\ /,\ /content\r\nend"]
references=[""]
