/*
	START ofapps/gnb/components/navigation/departmentnav/clientlibs/css/style.css
*/
/*START of style.css*/

.navbar-custom {
  background-color: #d7d8d9;
  border-color: #c6c7c9;
  background-image: -webkit-gradient(linear, left 0%, left 100%, from(#f1f2f2), to(#d7d8d9));
  background-image: -webkit-linear-gradient(top, #f1f2f2, 0%, #d7d8d9, 100%);
  background-image: -moz-linear-gradient(top, #f1f2f2 0%, #d7d8d9 100%);
  background-image: linear-gradient(to bottom, #f1f2f2 0%, #d7d8d9 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff1f2f2', endColorstr='#ffd7d8d9', GradientType=0);
}
.navbar-custom .navbar-brand {
  color: #000000;
}
.navbar-custom .navbar-brand:hover,
.navbar-custom .navbar-brand:focus {
  color: #000000;
  background-color: transparent;
}
.navbar-custom .navbar-text {
  color: #000000;
}
.navbar-custom .navbar-nav > li:last-child > a {
  /*border-right: 1px solid #c6c7c9;*/
  border-right: 0px solid #c6c7c9;
}
.navbar-custom .navbar-nav > li > a {
  color: #000000;
  /**border-left: 1px solid #c6c7c9;**/
  border-right: 1px solid #c6c7c9;
}
.navbar-custom .navbar-nav > li > a:hover,
.navbar-custom .navbar-nav > li > a:focus {
  color: #ffffff;
  background-color: transparent;
}
.navbar-custom .navbar-nav > .active > a,
.navbar-custom .navbar-nav > .active > a:hover,
.navbar-custom .navbar-nav > .active > a:focus {
  color: #ffffff;
  background-color: #c6c7c9;
  background-image: -webkit-gradient(linear, left 0%, left 100%, from(#c6c7c9), to(#e0e1e2));
  background-image: -webkit-linear-gradient(top, #9a9b9e, 0%, #9a9b9e, 100%);
  background-image: -moz-linear-gradient(top, #9a9b9e 0%, #9a9b9e 100%);
  background-image: linear-gradient(to bottom, #9a9b9e 0%, #9a9b9e 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffc6c7c9', endColorstr='#ffe0e1e2', GradientType=0);
}
.navbar-custom .navbar-nav > .disabled > a,
.navbar-custom .navbar-nav > .disabled > a:hover,
.navbar-custom .navbar-nav > .disabled > a:focus {
  color: #cccccc;
  background-color: transparent;
}
.navbar-custom .navbar-toggle {
  border-color: #fffefe;
}
.navbar-custom .navbar-toggle:hover,
.navbar-custom .navbar-toggle:focus {
  background-color: #dddddd;
}
.navbar-custom .navbar-toggle .icon-bar {
  background-color: #060606;
}
.navbar-custom .navbar-collapse,
.navbar-custom .navbar-form {
  border-color: #c5c6c8;
}
.navbar-custom .navbar-nav > .dropdown > a:hover .caret,
.navbar-custom .navbar-nav > .dropdown > a:focus .caret {
  border-top-color: #ffffff;
  border-bottom-color: #ffffff;
}
.navbar-custom .navbar-nav > .open > a,
.navbar-custom .navbar-nav > .open > a:hover,
.navbar-custom .navbar-nav > .open > a:focus {
  background-color: #9a9b9e;
  color: #ffffff;
}
.navbar-custom .navbar-nav > .open > a .caret,
.navbar-custom .navbar-nav > .open > a:hover .caret,
.navbar-custom .navbar-nav > .open > a:focus .caret {
  border-top-color: #ffffff;
  border-bottom-color: #ffffff;
}
.navbar-custom .navbar-nav > .dropdown > a .caret {
  border-top-color: #000000;
  border-bottom-color: #000000;
}

@media (max-width: 767) {
  .navbar-custom .navbar-nav .open .dropdown-menu > li > a {
    color: #000000;
  }
  .navbar-custom .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-custom .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #ffffff;
    background-color: transparent;
  }
  .navbar-custom .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-custom .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-custom .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #ffffff;
    background-color: #c6c7c9;
  }
  .navbar-custom .navbar-nav .open .dropdown-menu > .disabled > a,
  .navbar-custom .navbar-nav .open .dropdown-menu > .disabled > a:hover,
  .navbar-custom .navbar-nav .open .dropdown-menu > .disabled > a:focus {
    color: #cccccc;
    background-color: transparent;
  }
}

.navbar-custom .navbar-link {
  color: #000000;
}
.navbar-custom .navbar-link:hover {
  color: #ffffff;
}

.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus {
  border-color: #b7babd;
}

.navbar-custom .navbar-nav > li > a:hover,
.navbar-custom .navbar-nav > li > a:focus {
  color: rgba(0, 0, 0, 1);
  background-color: #9a9b9e;
  background: -webkit-linear-gradient(top, rgba(248, 248, 248, 0) 0%, rgba(199, 191, 191, 1) 100%);
  background: linear-gradient(to bottom, rgba(248, 248, 248, 0) 0%, rgba(199, 191, 191, 1) 100%);
}

.caret-right {
  border-bottom: 4px solid transparent;
  border-top: 4px solid transparent;
  border-left: 4px solid;
  display: inline-block;
  height: 0;
  opacity: 0.9;
  vertical-align: middle;
  width: 0;
}

.departmentnav .dropdown-menu > li > a {
  padding: 3px 13px;
}

.right-caret {
  border-bottom: 4px solid transparent;
  border-top: 4px solid transparent;
  border-left: 4px solid #000000;
  display: inline-block;
  height: 0;
  opacity: 0.7;
  vertical-align: 3%;
  width: 0;
}

/*END of style.css*/
/*
	START ofapps/gnb/components/navigation/departmentnav/clientlibs/css/style.css
*/
