/*
	/apps/snb/components/content/needhelp/clientlibs/css/style.css
*/

/**START of style.css**/
.needhelp {
  background: url(/etc/designs/snb-bootstrap/clientlibs/newImages/need-help-bgr.jpg)
    no-repeat center/cover;
  /*background-attachment: cover;*/
  min-height: 180px;
  margin-bottom: 10px;
}

.needhelp > .needhelp-text {
  padding-top: 35px;
  color: #ffffff;
}
.needhelp > .needhelp-text > .title {
  font-size: 1.6em;
}

.needhelp > .needhelp-text > .description {
  font-size: 1em;
  padding-bottom: 10px;
}

.needhelp > .needhelp-text > .phone {
  font-size: 1.3em;
}

.needhelp > .needhelp-text > .phone a {
  color: #ffffff;
}
/**END of style.css**/
