/*
 ADOBE CONFIDENTIAL
 __________________

  Copyright 2012 Adobe Systems Incorporated
  All Rights Reserved.

 NOTICE:  All information contained herein is, and remains
 the property of Adobe Systems Incorporated and its suppliers,
 if any.  The intellectual and technical concepts contained
 herein are proprietary to Adobe Systems Incorporated and its
 suppliers and are protected by trade secret or copyright law.
 Dissemination of this information or reproduction of this material
 is strictly forbidden unless prior written permission is obtained
 from Adobe Systems Incorporated.

	vnbwlist.css
 */
/**START of vnbwlist_update.css**/
.vnbwlist_update ul {
  font-size:98%;
  list-style:none outside none;
  margin:0;
  padding:0;
  padding-bottom: 6px;
  margin-bottom:6px;   
}

.vnbwlist_update {
  margin-bottom: 20px;
}

.vnbwlist_update li {
    margin-bottom:5px;
    padding-left: 10px;
}
.vnbwlist_update>div { 
        padding:10px;  
}
.vnbwlist_update>div.bottomborder {
    border-bottom:1px solid #d3d3d3;   
        padding:10px;  
}
.vnbwlist_update .greyarrow ul { font-size: 98%; }
.vnbwlist_update div.padded {
    padding:10px 20px 10px 20px;
}
.vnbwlist_update div.bluearrow li {
    margin-bottom:5px;
    padding-left: 10px;
    background:transparent url(/etc/designs/agnb-vgnb/clientlib/images/arrow_blue.gif) no-repeat scroll 0 5px;
}
.vnbwlist_update div.bluearrow li:hover { background-image: url(/etc/designs/agnb-vgnb/clientlib/images/arrow.gif); }
.vnbwlist_update div.greyarrow li {
  background: transparent url("/etc/designs/agnb-vgnb/clientlib/images/arrow.gif") no-repeat scroll 0 5px;
  padding-left: 10px;
}
.vnbwlist_update div.greyarrow li a, .vnbwlist_update div.morelink a  {
    color: #555555;  
}
.vnbwlist_update div.greyarrow li a:hover, .vnbwlist_update div.morelink a:hover  {
    color: #000000;  
}
.vnbwlist_update div.unstyled li, .vnbwlist_update div.unstyled  {
        padding-left: 0px;
        padding-right: 0px;
        padding-top: 0px;
}
.vnbwlist_update div.unstyled li a:link, .vnbwlist_update div.unstyled lia:visited {
    color:#555;
    font-size:98%;
    text-decoration:none;
    padding:0px 0 5px 0px;
}
.vnbwlist_update div.unstyled li a:hover{
    color:#000;
    text-decoration:none;
}
.vnbwlist_update div.morelink {
  font-size:90%;
}
.vnbwlist_update div.morelink a {
  background:url("/etc/designs/agnb-vgnb/clientlib/images/arrow.gif") no-repeat scroll right 3px transparent;
  padding-right:10px;
}
.vnbwlist_update > div.bottomborder div.morelink {
  border-top: 1px solid #d3d3d3;
  padding-top: 10px;
}
/**END of vnbwlist_update.css**/        