/*
	/apps/gnb/components/tools/nbplName/clientlibs/css/responsive-1200px.css
 */
@media (min-width: 1200px) {

#topText{
    margin: 0px 0px 0px 0px; 
	width: 575px;
    float:left;
    font-size: 180%;
    color: #004d42;
    font-weight: normal;
    text-align: left;
    position:relative;
    top:0px;
    left:-200px;
}
span.headerText{
	padding: 0px 0px 0px 0px; 
}
span#lastText.headerText{
	padding: 0px 0px 0px 0px; 
}


}




