.gnblist ul {
  font-size:110%;
  list-style:none outside none;
  margin:0;
  padding:0;
  padding-bottom: 0px;
  margin-bottom:0px;   
}

.gnblist {
  margin-bottom: 0px;
}

.gnblist li {
    margin-bottom:5px;
    padding-left: 10px;
}
.gnblist>div { 
        padding:5px;  
}
.gnblist>div.bottomborder {
    border-bottom:1px solid #d3d3d3;   
        padding:5px;  
}
.gnblist .greyarrow ul { font-size: 110%; }
.gnblist div.padded {
    padding:5px 20px 5px 20px;
}
.gnblist div.bluearrow li {
    margin-bottom:5px;
    padding-left: 10px;
    background:transparent url(../images/arrow_blue.gif) no-repeat scroll 0 5px;
}
.gnblist div.bluearrow li:hover { background-image: url(../images/arrow.gif); }
.gnblist div.greyarrow li {
  background: transparent url("../images/arrow.gif") no-repeat scroll 0 5px;
  padding-left: 10px;
}
.gnblist div.greyarrow li a, .gnblist div.morelink a  {
    color: #555555;  
}
.gnblist div.greyarrow li a:hover, .gnblist div.morelink a:hover  {
    color: #000000;  
}
.gnblist div.unstyled li, .gnblist div.unstyled  {
        padding-left: 0px;
        padding-right: 0px;
        padding-top: 0px;
}
.gnblist div.unstyled li a:link, .gnblist div.unstyled lia:visited {
    color:#555;
    font-size:110%;
    text-decoration:none;
    padding:0px 0 5px 0px;
}
.gnblist div.unstyled li a:hover{
    color:#000;
    text-decoration:none;
}
.gnblist div.morelink {
  font-size:100%;
}
.gnblist div.morelink a {
  background:url("../images/arrow.gif") no-repeat scroll right 3px transparent;
  padding-right:10px;
}
.gnblist > div.bottomborder div.morelink {
  border-top: 1px solid #d3d3d3;
  padding-top: 5px;
}

.shaded{
    background-color:#f5f5f5;
}

.grey {
    color: #555555;
}
    