/*
	START /apps/snb-fluid/components/content/featuretile/clientlibs/css/style.css
 */
.featuretile {
  margin-bottom: 10px;
}

.featuretile .more_title_link {
  margin-top: -26px;
  float: right;
}

.featuretile .more_title_link a {
  background: transparent
    url(/etc/designs/snb-bootstrap/clientlibs/images/arrow.gif) no-repeat scroll
    right center;
  color: #555555;
  float: right;
  font-size: 75%;
  font-weight: normal;
  margin-right: 15px;
  margin-top: 5px;
  padding: 0 10px 0 0;
  text-transform: uppercase;
}

.featuretile .padded {
  padding: 10px;
  padding-bottom: 0px;
  border-top: 1px solid #d3d3d3;
}
.featuretile .bottomborder {
  border-bottom: 1px solid #d3d3d3;
  margin-bottom: 15px;
}
.featuretile .imagecontainer {
  background-color: #ffffff;
  border: 1px solid #d3d3d3;
  padding: 4px;
}

.featuretile h2 {
  color: #0064a5;
  font-size: 110%;
  font-weight: normal;
  margin-bottom: 0;
  margin-top: 5px;
  padding: 0 20px;
}

.featuretile h2.feature {
  font-weight: normal;
  padding-bottom: 0;
  padding: 0px 5px 0px 10px;
}
.featuretile h2.feature span {
  display: inline-block;
  width: 10px;
  height: 10px;
  background: transparent
    url("/etc/designs/snb-bootstrap/clientlibs/images/arrow_blue.gif") no-repeat
    scroll 0 0;
  /*vertical-align: middle;*/
}

.featuretile h2.feature a {
  padding-right: 5px;
}

.featuretile h2.normal_bold {
  font-weight: bold;
}
.featuretile h2,
.featuretile p,
.featuretile .featuretile_more {
  padding: 0 20px 10px;
}

.featuretile .featuretile_more a,
.sectiontitle h2 a {
  font-size: 85%;
  background: url(/etc/designs/snb-bootstrap/clientlibs/images/arrow_blue.gif)
    no-repeat center right;
  padding: 0px 10px 0px 0;
}

.featuretile.section h2.normal {
  padding: 0 20px;
}
/**END of featuretile.css**/

.imagecontainer img {
  display: block;
  width: 100%;
  vertical-align: bottom;
  -ms-interpolation-mode: bicubic;
}

/*START of link checker*/
.imagecontainer .text p img {
  display: inline;
  width: auto;
  vertical-align: middle;
}
/*END of link checker*/

.textimage .image {
  padding-bottom: 10px;
}

.featuretile p {
  margin: 5px 0 0 0;
}

.img-responsive,
.thumbnail > img,
.thumbnail a > img,
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  display: block;
  max-width: 100%;
  height: auto;
}

/*
	END /apps/snb-fluid/components/content/featuretile/clientlibs/css/style.css
*/
