/*
/apps/oic-bci/components/navigation/breadcrumbs/clientlibs/css/responsive-480px.css
*/

@media (max-width: 480px) {


#breadcrumbNav{
    font-size: 80%;    
    margin: 0 30px 10px 5px;
    padding: 0;
}
}
