<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Driver's Licence Renewal / Renouvellement du permis de conduire</title>
    <meta name="description" content="Renew your New Brunswick Driver's licence online / Renouvelez votre permis de conduire du Nouveau-Brunswick en ligne" />

    <!-- GNB Design System CSS -->

    <!-- Favicons (useMetadata hook is used to dynamically update this)-->
    <link rel="apple-touch-icon" href="https://www2.snb.ca/etc/designs/spa/snb-dlr-fe/clientlibs/images/gnb-180x180.png" sizes="180x180" id="apple-touch-icon" />
    <link rel="icon" href="https://www2.snb.ca/etc/designs/spa/snb-dlr-fe/clientlibs/images/gnb-32x32.png" sizes="32x32" type="image/png" id="favicon-32-png" />
    <link rel="icon" href="https://www2.snb.ca/etc/designs/spa/snb-dlr-fe/clientlibs/images/gnb-16x16.png" sizes="16x16" type="image/png" id="favicon-16-png" />
    <link rel="icon" href="https://www2.snb.ca/etc/designs/spa/snb-dlr-fe/clientlibs/images/gnb-32x32.ico" id="favicon-32-io" />

    <!-- Open Graph Meta Tags -->
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Driver's Licence Renewal / Renouvellement du permis de conduire" />
    <meta property="og:description" content="Renew your New Brunswick Driver's licence online / Renouvelez votre permis de conduire du Nouveau-Brunswick en ligne" />
    <meta
      property="og:image"
      content="https://www2.snb.ca/etc/designs/spa/snb-dlr-fe/clientlibs/images/nb_logo.png"
    />
    <meta property="og:image:alt" content="Government of New Brunswick / Le gouvernement du Nouveau-Brunswick" />
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="630" />
    <meta property="og:locale" content="en_CA" />
    <script type="module" crossorigin src="/etc/designs/spa/snb-dlr-fe/clientlibs/assets/index-CLFRBv6J.js"></script>
    <link rel="stylesheet" crossorigin href="/etc/designs/spa/snb-dlr-fe/clientlibs/assets/index-BJNEfj6r.css">
  </head>
  <body>
    <div id="root"></div>
  </body>
</html>
