<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/vite.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Driver's Licence Renewal</title>
    <meta name="description" content="Renew your New Brunswick Driver's licence online." />

    <!-- GNB Design System CSS -->

    <!-- Favicons -->
    <link rel="apple-touch-icon" href="/etc/designs/spa/snb-dlr-fe/clientlibs/assets/gnb-180x180-ajCwxEqg.png" sizes="180x180" />
    <link rel="icon" href="../images/gnb-32x32.png" sizes="32x32" type="image/png" />
    <link rel="icon" href="../images/gnb-16x16.png" sizes="16x16" type="image/png" />
    <link rel="icon" href="../images/gnb-32x32.ico" />

    <!-- Open Graph Meta Tags -->
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Driver's Licence Renewal" />
    <meta property="og:description" content="Renew your New Brunswick Driver's licence online." />
    <meta
      property="og:image"
      content="https://www2.snb.ca/etc/designs/spa/snb-dlr-fe/clientlibs/images/nb_logo.png"
    />
    <meta property="og:image:alt" content="Government of New Brunswick" />
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="630" />
    <meta property="og:locale" content="en_CA" />
    <script type="module" crossorigin src="/etc/designs/spa/snb-dlr-fe/clientlibs/assets/index-BiH_W8qU.js"></script>
    <link rel="stylesheet" crossorigin href="/etc/designs/spa/snb-dlr-fe/clientlibs/assets/index-CGDhFyCQ.css">
  </head>
  <body>
    <div id="root"></div>
  </body>
</html>
