/*
	/apps/gnb/components/search/hc_salary_search/clientlibs/css/style.css
*/

/**START of style.css**/
.hc_salary_search .input-group {
	margin-bottom:10px;
}

.hc_salary_search .btn-default {
	margin-bottom:10px;
}

#main_content_wrapper .hc_salary_search .image_box {

    margin-bottom: 20px;
}

/**END of style.css**/
