# Configuration created by Apache Sling JCR Installer
not-found.behavior="respond-with-404"
vanity.dispatch.enabled=B"false"
cache.ttl=I"300"
enabled=B"true"
error-images.extensions=["png","jpeg","jpg","gif"]
error-page.extension="html"
error-images.path=".img.png"
error-images.enabled=B"false"
cache.serve-authenticated=B"false"
not-found.exclusion-path-patterns=[""]
error-page.fallback-name="500"
error-page.system-path="/content/nbfpc-cpfnb/en/error"
paths=[""]
