/*
/apps/oic-bci/components/content/oiclist_update/clientlibs/css/style.css
 */
/**START of oiclist_update.css**/
.oiclist_update ul {
  font-size:98%;
  list-style:none outside none;
  margin:0;
  padding:0;
  padding-bottom: 6px;
  margin-bottom:6px;   
}

.oiclist_update {
  margin-bottom: 20px;
}

.oiclist_update li {
    margin-bottom:5px;
    padding-left: 10px;
}
.oiclist_update>div { 
        padding:10px;  
}
.oiclist_update>div.bottomborder {
    border-bottom:1px solid #d3d3d3;   
        padding:10px;  
}
.oiclist_update .greyarrow ul { font-size: 98%; }
.oiclist_update div.padded {
    padding:10px 20px 10px 20px;
}
.oiclist_update div.bluearrow li {
    margin-bottom:5px;
    padding-left: 10px;
    background:transparent url(/etc/designs/oic-bootstrap/clientlibs/images/arrow_blue.gif) no-repeat scroll 0 4px;
}
.oiclist_update div.bluearrow li:hover { background-image: url(/etc/designs/enb-bootstrap/clientlibs/images/arrow.gif); }
.oiclist_update div.greyarrow li {
  background: transparent url("/etc/designs/oic-bootstrap/clientlibs/images/arrow.gif") no-repeat scroll 0 4px;
  padding-left: 10px;
}
.oiclist_update div.greyarrow li a, .oiclist_update div.morelink a  {
    color: #555555;  
}
.oiclist_update div.greyarrow li a:hover, .oiclist_update div.morelink a:hover  {
    color: #000000;  
}
.oiclist_update div.unstyled li, .oiclist_update div.unstyled  {
        padding-left: 0px;
        padding-right: 0px;
        padding-top: 0px;
}
.oiclist_update div.unstyled li a:link, .oiclist_update div.unstyled lia:visited {
    color:#555;
    font-size:98%;
    text-decoration:none;
    padding:0px 0 5px 0px;
}
.oiclist_update div.unstyled li a:hover{
    color:#000;
    text-decoration:none;
}
.oiclist_update div.morelink {
  font-size:90%;
}
.oiclist_update div.morelink a {
  background:url("/etc/designs/oic-bootstrap/clientlibs/images/arrow.gif") no-repeat scroll right 3px transparent;
  padding-right:10px;
}
.oiclist_update > div.bottomborder div.morelink {
  border-top: 1px solid #d3d3d3;
  padding-top: 10px;
}
/**END of oiclist_update.css**/        
