/*
	START of /apps/snb-fluid/components/content/columncontrol/clientlibs/css/responsive-1200px.css
 */
@media (min-width: 1200px) {
  .demo-border-black {
    border-right: 1px solid #000000;
  }
  .demo-border-blue {
    border-right: 1px solid #0066ff;
  }

  .demo-border-gray {
    /**border:1px solid #CCC;*/
    border-right: 1px solid #d3d3d3;
  }

  .demo-border-green {
    border-right: 1px solid #19d1a3;
  }
  .demo-border-red {
    border-right: 1px solid #ff4d4d;
  }
  .demo-border-white {
    border-right: 1px solid #ffffff;
  }
  /**
.first.demo-border-black{
    padding-left: 0px;
}  

.first.demo-border-blue{
    padding-left: 0px;
}  

.first.demo-border-gray{
    padding-left: 0px;
}  

.first.demo-border-green{
    padding-left: 0px;
}  

.first.demo-border-red{
    padding-left: 0px;
}  

.first.demo-border-white{
    padding-left: 0px;
}  

.columncontrol .last{
    padding-right: 0px;
}  
.centre-4-4-4{
    padding-left: 7px;
    padding-right: 7px;    
} 
.centre-4-4-4{
    padding-left: 7px;
    padding-right: 7px;    
} 
**/
}
/*
	END of /apps/snb-fluid/components/content/columncontrol/clientlibs/css/responsive-1200px.css
 */
