/*
 ADOBE CONFIDENTIAL
 __________________

  Copyright 2012 Adobe Systems Incorporated
  All Rights Reserved.

 NOTICE:  All information contained herein is, and remains
 the property of Adobe Systems Incorporated and its suppliers,
 if any.  The intellectual and technical concepts contained
 herein are proprietary to Adobe Systems Incorporated and its
 suppliers and are protected by trade secret or copyright law.
 Dissemination of this information or reproduction of this material
 is strictly forbidden unless prior written permission is obtained
 from Adobe Systems Incorporated.
 */
/* iPad Landscape */
@media (min-width: 980px) and (max-width: 1199px) {
  .newslist_update ul {
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    font-size: 100%;
  }

  .newslist_update {
    margin-bottom: 20px;
  }

  .newslist_update div.border {
    padding-bottom: 10px;
    border-bottom: 1px solid #d3d3d3;
  }
  .newslist_update li {
    margin-bottom: 15px;
    padding-bottom: 10px;
    border-bottom: 1px solid #d3d3d3;
  }

  .newslist_update > div {
    padding: 10px o 10px 0;
  }
  .newslist_update h3 {
    margin: 0px !important;
  }
  .newslist_update div.padded {
    padding: 10px 20px 10px 20px;
  }
  .newslist_update div.morelink a {
    color: #555555;
  }
  .newslist_update div.morelink a:hover {
    color: #000000;
  }

  .newslist_update div.morelink {
    font-size: 68%;
  }

  .newslist_update div.morelink a {
    background: transparent url("../images/arrow.gif") no-repeat scroll right
      center;
    padding-right: 10px;
  }

  .newslist_update .h3 {
    margin: 0px !important;
  }
}
