body  {
    font: 100% Arial, Helvetica, sans-serif;
    background:url(../images/bkgr_span.gif) top left repeat-x;
    margin: 0;
    padding: 0;
    text-align: center; 
    color: #000000;
}
.printHeader
{
    display: none !important;
}
a img {
    border:0px;
    -ms-interpolation-mode:bicubic;
    }
img[usemap] {
    border:0px;
    -ms-interpolation-mode:bicubic;    
    }
body.smaller {
    font: 90% Arial, Helvetica, sans-serif;
    background:url(../images/bkgr_span.gif) top left repeat-x;
    margin: 0;
    padding: 0;
    text-align: center; 
    color: #000000;    
}

body.bigger {
    font: 110% Arial, Helvetica, sans-serif;
    background:url(../images/bkgr_span.gif) top left repeat-x;
    margin: 0;
    padding: 0;
    text-align: center; 
    color: #000000;
}

a{
    color:#0064a5;
    text-decoration:none;
}

a:hover{
    color:#000;
    text-decoration:none;
}



#full_width {
    float:left;
    margin:-25px 0 0px 0;
    width:100%;
}

p{
    margin:5px 0 0 0;
    padding:0;
    font-size:80%;
}
div#mainnav{
    font-size:100%;  
}

.left_border{
    border-left:1px solid #CCC; 
}

.right_border{
    border-right:1px solid #CCC;    
}
.right{
    float:right;
}

.left{
    float:left;
}
.clearfloat, .clearfloats { /* this class should be placed on a div or break element and should be the final element before the close of a container that should fully contain a float */
    clear:both;
    height:0;
    font-size: 1px;
    line-height: 0px;
}

.inv{
    visibility:hidden;
}
.hidden {
    display:none;
    }
    
.box{
    border-bottom:1px solid #d3d3d3;
    padding:10px 0 10px 0;
    margin-bottom: 10px;
}

.shaded{
    background-color:#f5f5f5;
}

.more_link_box {
    border:0px solid white;
    margin-bottom: 10px;
    padding:0;
}
.box h2 {
    color:#1874b1;
    font-size:120%;
    margin:0;
    padding:0;
}
div.text p { margin: 10px 0 0; }

.imagecontainer .box {
    padding: 10px 20px 10px 20px;
}
.imagecontainer .border {
    border:1px solid #D3D3D3;
    padding:4px;    
}
.imagecontainer img {
  display:block;
  width:100%;
  vertical-align: bottom;
  -ms-interpolation-mode:bicubic;
}

.more_link_blue a{
    background:url(../images/arrow_blue.gif) no-repeat center right;
    padding:0px 10px 0px 0;
}
.more_link_blue a:hover { background-image: url(../images/arrow.gif); }
.more_link a{
    background:url(../images/arrow.gif) no-repeat center right;
    color:#555;
    text-transform:uppercase;
    font-size:85%;
    padding-right:10px;
}

.post_date {
  color:#777777;
  font-size:75%;
}

.grey {
    color: #555555;
}
table {
    border-collapse:collapse;
    margin-bottom:20px;
    text-align:left;
/**Request by Colin
    width:100%;
**/    
}
th {
    background:transparent url(../images/header_table.gif) repeat-x scroll 0 0;
    height:46px;
    padding:0 0 0 10px;
    color:#004D42;
    font-size:90%;
    font-weight:normal;
       text-align:left;
}

td {
    vertical-align: top;
    text-align:left;
    border-bottom:1px solid #D3D3D3;
    font-size:80%;
    padding:10px;
}


/* Browser specific (not valid) styles to make preformatted text wrap */
pre {
    white-space: pre-wrap; /* css-3 */
    white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
    white-space: -pre-wrap; /* Opera 4-6 */
    white-space: -o-pre-wrap; /* Opera 7 */
    word-wrap: break-word; /* Internet Explorer 5.5+ */
}
.pageHeader h3, .item_services h4, .item_services_first h4  {
    font-size:100%;
    margin:0px !important;
    padding:0 !important;
    font-weight: normal !important;
    
    }
    .pageHeader h3 {
    margin-bottom: 15px !important;
    }
    .pageHeader h3 div, .item_services h4 div, .item_services_first h4 div {
     display: inline;
    }
.renderer_container {
    margin: 0 300px 0 0 !important; 
    padding: 0;
}
.item_services, .item_services_first {
    background:transparent url(../images/bkgr_span_services.gif) repeat-x scroll center bottom;
    color:black;
    margin:0 0 20px;
    padding-bottom:10px;
    float:left;
    width:600px;
}
.item_services_first {
    padding-top:-15px;
    }
.item_services .column, .item_services_first .column  {
    float:left;
    margin:0;
    padding-right:20px;
    width:280px;
    word-wrap:break-word;
}
.item_services h2, .item_services_first h2, .item_services h3, .item_services_first h3  {
    color:#004D42 !important;
    font-size:120%;
    margin:0px !important;
    padding:0 !important;
    font-weight: normal !important;
}
 .item_services h3, .item_services_first h3 {
    font-size:110% !important;
     
 }

h2.column_title {
    margin-bottom:0px;
}

.item_services p {
    font-size:90%;
    padding:0;
    margin-bottom: 10px;
}


/**************************************************************
     START of PROPERTY SALE
***************************************************************/
/**general for property sale **/
.boldlarge {
    font: 110% Arial, Helvetica, sans-serif;
    font-weight:bold;
    display:inline;    
}

.extrainfo {
    font: 130% Arial, Helvetica, sans-serif;
}


/**propertytenderlist **/
.propertytenderlist td.first {
    border-bottom:0px;
    
}

.propertytenderlist td {
    border-bottom:1px solid wh#D3D3D3;
    padding: 5px;    
}
     
.propertytenderlist .imagecontainer {
    background-color: #FFFFFF;
    border: 1px solid #D3D3D3;
    padding: 4px;
}


/**propertysurpluslist **/
.propertysurpluslist td.first {
    border-bottom:0px;
    
}

.propertysurpluslist td {
    border-bottom:1px solid wh#D3D3D3;
    padding: 5px;    
}
     
.propertysurpluslist .imagecontainer {
    background-color: #FFFFFF;
    border: 1px solid #D3D3D3;
    padding: 4px;
}    


/**propertytenderdisplay **/
.propertytenderdisplay td.first {
    border-bottom:0px;
}

.propertytenderdisplay td {
    border-bottom:1px solid wh#D3D3D3;
    padding: 5px;    
}
     
.propertytenderdisplay .imagecontainer {
    background-color: #FFFFFF;
    border: 1px solid #D3D3D3;
    padding: 4px;
} 

.propertytenderdisplay table {
    margin-bottom: 0px;
} 

/**propertysurplusdisplay **/
.propertysurplusdisplay td.first {
    border-bottom:0px;
}

.propertysurplusdisplay td {
    border-bottom:1px solid wh#D3D3D3;
    padding: 5px;    
}
     
.propertysurplusdisplay .imagecontainer {
    background-color: #FFFFFF;
    border: 1px solid #D3D3D3;
    padding: 4px;
} 

.propertysurplusdisplay table {
    margin-bottom: 0px;
} 



/*property sale rotation */
.propertysalerotation .imagecontainer1 {
    background-color: #FFFFFF;
    border: 1px solid #D3D3D3;
    padding: 4px;
} 

#rotation {
    margin: 0 0 20px;/*top-0, left/right-0, bottom-20*/
    padding: 0;
    width: 585px;
    height: 230px;
/*    height: 220px;*/
    z-index: 10;
}

#rotation li {
    padding: 5px 5px 5px 5px;
    width: 585px;
    height: 230px;
/*    height: 220px;*/    
    background: transparent no-repeat scroll 0 0;
    list-style-type: none;
    display: none;
}

.propertysalerotation .leftcontent {
    width: 60%; 
    float: left; 
    overflow: hidden; 
}

.propertysalerotation .rightcontent {
    width: 38%; 
    float: right; 
    overflow: hidden;
    padding: 5px 0px 5px 5px;    
}

.propertysalerotation #pageLinks1 {
/*
  bottom:15px;
*/
  bottom:25px;
  left:366px;
  min-height:0px;
  position:relative;
  z-index:20;
}
.propertysalerotation #pageLinks1 a {
        margin: 0 2px;
        padding: 0 3px;
        font-weight: bold;
        font-size: 75%;
        color: #fff;
        background: transparent url(../images/slideshow_btn.gif) no-repeat scroll 0 0;
}

.propertysalerotation #pageLinks1 a.activeSlide {
        background-image: url(../images/slideshow_btn_active.gif);
}

.bottom_color td{
border-bottom: 0px solid #D3D3D3;
}

/**************************************************************
     END of PROPERTY SALE
***************************************************************/

