/*hc_salary_search*/
#hc_salary_search_box {
    background-color:#F5F5F5;
    border-bottom:1px solid #CCCCCC;
    border-top:1px solid #CCCCCC;
    float:left;
    margin:20px 0;
    width:585px;
}

#hc_salary_search_box form {
        padding:0 10px 10px;
    }

#hc_salary_search_box .title {
    color:#000000;
    font-size:90%;
    margin:20px 0 10px
}

#hc_salary_search_box .searchButton {
    margin-bottom: 25px;
}

#hc_salary_search_box .name span {
    float:left;
    margin: 0px 15px 0px 0px;   
}   

#hc_salary_search_box .searchText, #hc_salary_search_box .searchTextLast {
    background:none repeat scroll 0 0 #FFFFFF;
    border:1px solid #CCCCCC;
    color:#777777;
    height:20px;
    padding:3px 0 0 2px;
    width:175px;
}


#hc_salary_search_box select {
    float:left;
    margin:7px 20px 3px 0;
    width:150px;
    
}

#hc_salary_search_box option {
    width:122px;   
}


#hc_salary_search_box input {
    float:left;
    margin:5px 25px 10px 0;
}

#hc_salary_search_box input.last {
    margin-right:0px
    }

#hc_salary_search_box label {
    display: inline;
    float:left;
    font-size:80%;
    font-weight:bold;
    padding:7px 5px 3px 0;
}

/*hc_salary_search_input*/

#hc_salary_search_input {
    margin: 0 0 1% 3%;
}

#hc_salary_search_input p {
    margin: 2px 0;
}

#hc_salary_search_input label {
    font-size:70%;
    font-weight:bold;
    padding:7px 5px 3px 0;

}

#hc_salary_search_input input#searchButton {
    margin: 10px 82px;
    font-size: 80%;
    float: none;
    width: 93px;
    height: 25px;
    border: 0;
}

#hc_salary_search_input select {
    width: 118px;
}

#hc_salary_search_input option {
    width: 93px;
}


/*hc_year_search*/
#hc_year_search_box {
    background-color:#F5F5F5;
    border-bottom:1px solid #CCCCCC;
    border-top:1px solid #CCCCCC;
    float:left;
    margin:20px 0;
    width:585px;
}

#hc_year_search_box form {
        padding:0 10px 10px;
    }

#hc_year_search_box .title {
    color:#000000;
    font-size:90%;
    margin:20px 0 10px
}

#hc_year_search_box .searchButton {
    margin-bottom: 25px;
}

#hc_year_search_box .name span {
    float:left;
    margin: 0px 15px 0px 0px;   
}   

#hc_year_search_box .searchText, #hc_year_search_box .searchTextLast {
    background:none repeat scroll 0 0 #FFFFFF;
    border:1px solid #CCCCCC;
    color:#777777;
    height:20px;
    padding:3px 0 0 2px;
    width:175px;
}


#hc_year_search_box select {
    float:left;
    margin:7px 20px 3px 0;
    width:150px;
    
}

#hc_year_search_box option {
    width:122px;   
}


#hc_year_search_box input {
    float:left;
    margin:5px 25px 10px 0;
}

#hc_year_search_box input.last {
    margin-right:0px
    }

#hc_year_search_box label {
    display: inline;
    float:left;
    font-size:80%;
    font-weight:bold;
    padding:7px 5px 3px 0;
}


/*hc_year_search_input*/

#hc_year_search_input {
    margin: 0 0 1% 3%;
}

#hc_year_search_input p {
    margin: 2px 0;
}

#hc_year_search_input label {
    font-size:70%;
    font-weight:bold;
    padding:7px 5px 3px 0;

}

#hc_year_search_input input#searchButton {
    margin: 10px 82px;
    font-size: 80%;
    float: none;
    width: 93px;
    height: 25px;
    border: 0;
}

#hc_year_search_input select {
    width: 118px;
}

#hc_year_search_input option {
    width: 93px;
}