/*
	apps/gnb/components/content/multimedialist_update/clientlibs/css/responsive-480px.css
 */
@media (max-width: 480px) {

.wide_multimedia_item .row 
 {
    margin-right: 15px;
    margin-left: 15px;        
}

.multimedialist_update .col-xs-2, .multimedialist_update .col-sm-2, .multimedialist_update .col-md-2, .multimedialist_update .col-lg-2, .multimedialist_update .col-xs-3, .multimedialist_update .col-sm-3, .multimedialist_update .col-md-3, .multimedialist_update .col-lg-3, .multimedialist_update .col-xs-4, .multimedialist_update .col-sm-4, .multimedialist_update .col-md-4, .multimedialist_update .col-lg-4, .multimedialist_update .col-xs-5, .multimedialist_update .col-sm-5, .multimedialist_update .col-md-5, .multimedialist_update .col-lg-5, .multimedialist_update .col-xs-6, .multimedialist_update .col-sm-6, .multimedialist_update .col-md-6, .multimedialist_update .col-lg-6, .multimedialist_update .col-xs-7, .multimedialist_update .col-sm-7, .multimedialist_update .col-md-7, .multimedialist_update .col-lg-7, .multimedialist_update .col-xs-8, .multimedialist_update .col-sm-8, .multimedialist_update .col-md-8, .multimedialist_update .col-lg-8, .multimedialist_update .col-xs-9, .multimedialist_update .col-sm-9, .multimedialist_update .col-md-9, .multimedialist_update .col-lg-9, .multimedialist_update .col-xs-10, .multimedialist_update .col-sm-10, .multimedialist_update .col-md-10, .multimedialist_update .col-lg-10, .multimedialist_update .col-xs-11, .multimedialist_update .col-sm-11, .multimedialist_update .col-md-11, .multimedialist_update .col-lg-11, .multimedialist_update .col-xs-12, .multimedialist_update .col-sm-12, .multimedialist_update .col-md-12, .multimedialist_update .col-lg-12 {
    /*padding-right: 0px;
    padding-left: 0px;*/
}

}
