/*
	/apps/gnb/components/search/hc_year_search/clientlibs/css/style.css
*/

/**START of style.css**/
.hc_year_search .input-group {
	margin-bottom:10px;
}

.hc_year_search .btn-default {
	margin-bottom:10px;
}

#main_content_wrapper .hc_year_search .image_box {
    margin-bottom: 20px;
}

/**END of style.css**/