/*
	/apps/gnb/components/tools/nbplName/clientlibs/css/responsive-768px-979px.css
*/
/* iPad portrait */
@media (min-width: 768px) and (max-width: 979px) {
  #topText {
    margin: 0px 0px 0px 0px;
    float: left;
    font-size: 180%;
    color: #004d42;
    font-weight: normal;
    text-align: left;
    position: relative;
    top: -30px;
    left: -200px;
  }
}
