/*
/apps/courts/components/content/multimedialist/clientlibs/css/style.css
 */
/**START of style.css**/

.multimedialist_update .col-xs-2, .multimedialist_update .col-sm-2, .multimedialist_update .col-md-2, .multimedialist_update .col-lg-2, .multimedialist_update .col-xs-3, .multimedialist_update .col-sm-3, .multimedialist_update .col-md-3, .multimedialist_update .col-lg-3, .multimedialist_update .col-xs-4, .multimedialist_update .col-sm-4, .multimedialist_update .col-md-4, .multimedialist_update .col-lg-4, .multimedialist_update .col-xs-5, .multimedialist_update .col-sm-5, .multimedialist_update .col-md-5, .multimedialist_update .col-lg-5, .multimedialist_update .col-xs-6, .multimedialist_update .col-sm-6, .multimedialist_update .col-md-6, .multimedialist_update .col-lg-6, .multimedialist_update .col-xs-7, .multimedialist_update .col-sm-7, .multimedialist_update .col-md-7, .multimedialist_update .col-lg-7, .multimedialist_update .col-xs-8, .multimedialist_update .col-sm-8, .multimedialist_update .col-md-8, .multimedialist_update .col-lg-8, .multimedialist_update .col-xs-9, .multimedialist_update .col-sm-9, .multimedialist_update .col-md-9, .multimedialist_update .col-lg-9, .multimedialist_update .col-xs-10, .multimedialist_update .col-sm-10, .multimedialist_update .col-md-10, .multimedialist_update .col-lg-10, .multimedialist_update .col-xs-11, .multimedialist_update .col-sm-11, .multimedialist_update .col-md-11, .multimedialist_update .col-lg-11, .multimedialist_update .col-xs-12, .multimedialist_update .col-sm-12, .multimedialist_update .col-md-12, .multimedialist_update .col-lg-12 {

/** padding-right: 0px;
    padding-left: 0px;**/
}

.multimedialist_update .thumbnail {
    margin-bottom: 10px;
}

.multimedialist, .multimedialist_update {
    margin-top: 10px;
}

.wide_multimedia_content h5 {
    margin-top: 0px;
    margin-bottom: 5px;            
}
.multimedia_item .thumbnail{
	margin-bottom: 10px;
}        

.multimedia_item h5{
	margin-top: 3px;
}    



.wide_multimedia_item .col-xs-4, .wide_multimedia_item .col-sm-4, .wide_multimedia_item .col-md-4{
    padding-right: 0;
    padding-left: 0;

}
.wide_multimedia_item .col-xs-8, .wide_multimedia_item .col-sm-8, .wide_multimedia_item .col-md-8{
    padding-right: 0;
    padding-left: 0;

}

/**END of style.css**/