/*
	START of /apps/wcat-taat/components/navigation/departmentnav/clientlibs/css/responsive-980px-1199px.css
*/
/* iPad Landscape */
@media (min-width: 992px) and (max-width: 1199px) {

/*START of Department Navigation*/
ul#departmentNav.nav.navbar-nav{
	font-size: 120%;
}
/*END of Department Navigation*/


.departmentnav .navbar-collapse {
    padding-right: 0px;
    padding-left: 0px;
}

}
/*
	END of /apps/wcat-taat/components/navigation/departmentnav/clientlibs/css/responsive-980px-1199px.css
*/